{
    "CHANGELOG": "",
    "URL": "https://www.teamspeak.com/versions/server.json",
    "MAIL": {
        "PASSWORD": "",
        "TARGET": "",
        "PORT": "",
        "USER": "",
        "HOST": ""
    }
}